/* FONTS */
a,

a:visited {
	color: #0068af !important;
	text-decoration: none;
}

a:hover {
	color: #000 !important;
	text-decoration: underline;
}

body, table td, select {
  font-family: segoe ui, verdana, arial, sans-serif !important;
}

/* LDAP LOGIN */
#gerrit_body h1 {	
	font-size: 16pt;	
    font-weight: normal;	
}	

#login_form {	
    font-size: 13px;	
}	

#login_form th {	
    font-weight: normal;	
}	

#login_form input[type="submit"] {	
    font-size: 12px;	
	background-color: #C2DFFF;
} 


a.logo_anchor {
	display: block;
	/* background:  url(static/logo.png) !important; */
	border: 0px solid red !important;
	height: 75px;
	width: 200px;
	margin-left: 20px;
}

/* TOPMENU */

#gerrit_topmenu {
	border: 0px solid red !important;
	background: url(static/header_bg.png) !important;
	color: #ffffff !important;
	padding: 0;
	font-size: 13px;
	padding-left: 0px;
	padding-top:0px;
	padding-bottom: 2px;
	border-bottom: 0px solid #ffffff;
}

#gerrit_topmenu a {
	color: white !important;
}

#gerrit_topmenu .gwt-Label {
	color: #ffffff !important;
	height: 25px;
}

#gerrit_topmenu > table {
}

#gerrit_topmenu .gwt-TabBar {
	border-bottom: none !important;	
}

#gerrit_topmenu .gwt-TabBarItem-selected, 
	#gerrit_topmenu .gwt-TabPanelBottom a.menuItem.activeRow {
	border-bottom: 3px solid #C2DFFF;
}

#gerrit_topmenu .gwt-TabPanelBottom a {
	display: inline-block;
	height: 23px;
	padding-top: 7px;
	margin-top: 1px;
	background-color: inherit;
}

#gerrit_topmenu .gwt-TabPanelBottom-selected, 
	#gerrit_topmenu .gwt-TabPanelBottom a.menuItem.activeRow {
	border-bottom:3px solid YELLOW;
}

/* SEARCH */
.linkMenuBar  {
padding-right: 20px !important;
}

.searchPanel .gwt-TextBox {
background-color:rgba(0,0,0,0.5);
color: white !important;
border: 1px solid white;
padding-top: 1px !important;
}

.searchPanel button.gwt-Button {
background:black !important;
color: white !important;
border: 1px solid white;
height: 19px !important;
padding-top: 1px !important;
}


/* BODY */
#gerrit_body table {
	broder: 1px solid red !important;
}


/* PATCHES */
.gwt-DisclosurePanel .content {
border-left: 3px solid #C2DFFF !important;
padding: 4px 0px 4px 8px;
margin-left: 6px;
}

/* COMMENTS OLD */
.commentPanelBorder {
border-bottom: 1px dashed #0068af !important;
border-left: 0px solid #0068af  !important;
border-right: 0px solid #0068af  !important;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-top-right-radius: 0px !important;
-webkit-border-bottom-left-radius: 0 !important;
-webkit-border-bottom-right-radius: 0 !important;
}

/* COMMENTS NEW */
.GKSE20JDH4 {
padding-top: 5px;
padding-bottom: 5px;
border-bottom: 1px dashed #0068af !important;
border-left: 0px solid  #0068af  !important;
border-right: 0px solid  #0068af  !important;
-webkit-border-top-left-radius: 0px !important;
-webkit-border-top-right-radius: 0px !important;
-webkit-border-bottom-left-radius: 0 !important;
-webkit-border-bottom-right-radius: 0 !important;
}

.com-google-gerrit-client-change-Message_BinderImpl_GenCss_style-messageBox{
	color: black !important;
}
